<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liaction.ymwy.myapplication">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.liaction.ymwy.aidl.service"/>

    <application
            android:name=".base.YMWYBaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <provider
                android:name=".provider.YMWYContentProvider"
                android:authorities="com.liaction.ymwy.myapplication.provider.YMWYContentProvider"
                android:enabled="true"
                android:exported="true"/>

        <service
                android:name=".service.YMWYBindService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".service.YMWYAidlService2"
                android:enabled="true"
                android:exported="true"
                android:process=":aidl2">
        </service>

        <activity
                android:name=".act.YMWYIPCAidl2Activity"
                android:label="IPC AIDL Twice">
        </activity>

        <service
                android:name=".service.YMWYAidlService"
                android:enabled="true"
                android:exported="true"
                android:permission="com.liaction.ymwy.aidl.service"
                android:process=":aidl_service">
        </service>
        <service
                android:name=".service.YMWYMessengerService"
                android:enabled="true"
                android:exported="true"/>

        <activity
                android:name=".act.YMWYIPCAidlActivity"
                android:label="IPC AIDL">
        </activity>
        <activity
                android:name=".act.YMWYLayoutActivity"
                android:label="Layout Activity">
        </activity>
        <activity
                android:name=".act.ViewEventActivity"
                android:label="View Event">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="HOME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".act.YMWYCreateActivity"
                android:label="Create Activity"/>
        <activity
                android:name=".act.YMWYBindServiceActivity"
                android:label="Bind Service"/>
        <activity
                android:name=".act.YMWYMessengerServiceActivity"
                android:label="Messenger Service"/>
        <activity
                android:name=".act.YMWYContentProviderActivity"
                android:label="ContentProvider Activity"/>
    </application>

</manifest>